APP_NAME=lakhimpur-biz
APP_ENV=development
DEBUG=true

HOST=0.0.0.0
PORT=8000

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/lakhimpur_biz
# sed -i 's|postgresql://|postgresql+asyncpg://|g' backend/.env.example

REDIS_URL=redis://redis:6379/0

JWT_ALGORITHM=RS256
JWT_EXPIRE_MINUTES=10080

JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCakes/vJww6m1y
fkxecWA4Bke5h8t9cAnHn5piJdlFnRU8EVajV1n8z5shkS0yCrgyxRswnEhqsmaW
bpL3oBwGptkWVtX7eOHZcRKLosJznP+k0UvwUZb2RBepBmnMcAcx4zX9ufib6xue
wPcLWjOfzRRcgqMlMYAigNbghvZNuxMoBxmlNe9F8NYWq0nn7r1nut3G3id8m5QB
nJ5j0Nb09SXLOqXMyWnugI8xtKXIRi3ZcD4uLlOWDTaD7Q4Rh46gg/q2nTAQ677e
i8WjI8SB0c6Ahvi4cgWqg0fkWqcWFjnQIZBaVTiky8U7F0q12GzlKUDL3zJyBsxM
6tVTsjMLAgMBAAECggEAKj1lGeJblpyBs0+jZA28myLQN/nNmKZk7coGYPrx4K24
L1WXpQSKgWVkgexP+wRl6O3na8XRnmLJWSO3gvccoY639Xxedp3GrmrRhBpC5GBL
lklh5LcPN5ZNFvI7OFSHCtGKIB/Ruh4qSpx2BoKsZ+edwFgs6E2aNBOcZPhM19my
RFsPIJYPuVaEOnpN0mxhVym+sXcW/DrmnDbnPoKR4TZRtkBsgcnaFg9TqQFAdwn6
K4B7cwK9k0NxrY+EXhIjm//ATT95Xhr3dk/1e/aWxqB4WGzEMN0WmSqL2ZDPRzzo
OHgGDa2uovmq3353WOGrgOOWjoQwLC9tttuseXOXvQKBgQDUKyvgWXuhr/YP77pk
QkZ/eByCJ8dN+fRL7Jj7UzfptGslkio3S5OKGW2fJ36LYAVhpaaQhMAGRdrgnqpL
JIUh+aAbSlQ92cFPvIDXIEyHlfmrF3+fyU4lnFAVeeaEAjdvBZaqsbJ96ET15p3Y
keFKh3XHRLZRQRZGGEiFhOUXJwKBgQC6gJCHwQW4rbnMnsoR7UvZK1EOuS+sCx7p
PTkpao2ADjbA0DU8OOQ6cZ3v+IfjILnv5RqTk0INrQlVcfnl+UJoymCQHLwBOSBc
6xcXeqReeTsTRD+XzgnGVjYn1FeNEyN9eenLlVtRnY3aFX83Pm49y6g0YPoHL8mU
2IZGurITfQKBgBy4B0Vj92cocU8w7PL7QZ2pfXpktgapCddpHEAQwKXCxSodwdcg
RMVRsdP0PZ3SDohsKsKvJWrz86+p6nUnaVny9ygahJKmshL/+hSki5dixpvRH3Za
glh28yQlDv3ZavV9NSq/yOBgG02JvN3+yRcUhO3HMEKJY+FzEgX4uiXLAoGAQouN
BmNA/1w9Z11hDHR3E8345h/9eo2dQeuucbCrPH3V24Zu+EX0aUYQ7IbpNYl/zrEY
gn+QmgCby/kXCY+eunU7bzBRhL41ZfIcEyyXaX4oLf+0ER5bLoGkYSHK+3NQvny5
hwKLyttEugPhmHyWKUZ5hfb0P4w1iP6ZKrOCxqECgYBEPgSYRYRHKJ4Db+radasp
1vzwrkqjKavEsGXZqKaJ34jPgEU7I4z7bZwMUBNEgmFQoR+707haJYdmHOuwYS3u
TI78QI68tWVQL5UP91JwH96W+WXaw5z00jFoAEnvq6yEOY05fHDolz98N/nkR8RD
ELy/tuA0mC/NkMXUnTrGQg==
-----END PRIVATE KEY-----"

JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmpHrP7ycMOptcn5MXnFg
OAZHuYfLfXAJx5+aYiXZRZ0VPBFWo1dZ/M+bIZEtMgq4MsUbMJxIarJmlm6S96Ac
BqbZFlbV+3jh2XESi6LCc5z/pNFL8FGW9kQXqQZpzHAHMeM1/bn4m+sbnsD3C1oz
n80UXIKjJTGAIoDW4Ib2TbsTKAcZpTXvRfDWFqtJ5+69Z7rdxt4nfJuUAZyeY9DW
9PUlyzqlzMlp7oCPMbSlyEYt2XA+Li5Tlg02g+0OEYeOoIP6tp0wEOu+3ovFoyPE
gdHOgIb4uHIFqoNH5FqnFhY50CGQWlU4pMvFOxdKtdhs5SlAy98ycgbMTOrVU7Iz
CwIDAQAB
-----END PUBLIC KEY-----"

RAZORPAY_KEY_ID=rzp_test_xxxxx
RAZORPAY_KEY_SECRET=test_secret

WATI_ENABLED=false